
<div id="<%= party.id %>">
  <a href="/parties/<%= party.id %>"><%= party.place %></a><br>
  <%= party.time %><br>
  <%= button_to 'Delete', { controller: :parties, action: :delete, id: party.id }, method: :delete, :remote => true, data: { confirm: 'Are you sure?' } %>
</div>