<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <style type="text/css">
        html, body {
            height: 100%;
            margin: 0;
        }
    </style>
</head>
<body>

<%= form_with model: Task.new do |form| %>
  <%= form.text_field :guest_name, placeholder: "Who made this mess?", id: "task-name" %><br>
  <%= form.text_field :description, placeholder: "What is the mess?", id: "task-description" %><br>
  <%= form.text_field :phone_number, placeholder: "What's this slob's number?", id: "task-phone-number" %>
  <%= form.hidden_field :party_id, :value => @party.id %>
  <%= form.submit %>
<% end %>

<div class="task-list">
  <% @party.tasks.each do |task| %>
    <div id=<%= task.id %>>
      <%= task.guest_name %>
      <%= task.description %>
      <%= button_to 'Delete', { controller: :tasks, action: :delete, id: task.id }, method: :delete, :remote => true, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>

</body>
</html>